# Python
__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/

# Django
staticfiles/
media/

# Environment
.env

# OS/editor
.DS_Store
.vscode/
.idea/